# üìù Exercise M1.01

Imagine we are interested in predicting penguins species based on two of their
body measurements: culmen length and culmen depth. First we want to do some
data exploration to get a feel for the data.

What are the features? What is the target?

The data is located in `../datasets/penguins_classification.csv`, load it with
`pandas` into a `DataFrame`.

In [3]:
# Write your code here.
import pandas as pd
df=pd.read_csv('../data/penguins_classification.csv')
df.head()

   Culmen Length (mm)  Culmen Depth (mm) Species
0                39.1               18.7  Adelie
1                39.5               17.4  Adelie
2                40.3               18.0  Adelie
3                36.7               19.3  Adelie
4                39.3               20.6  Adelie

Show a few samples of the data.

How many features are numerical? How many features are categorical?

In [ ]:
# Write your code here.
num_cols = df.select_dtypes(include=['number']).shape[1]
cat_cols = df.select_dtypes(include=['object', "category"]).shape[1]
print(f'The number of numerical columns is: {num_cols}')
print(f'The number of categorical columns is: {cat_cols}')

What are the different penguins species available in the dataset and how many
samples of each species are there? Hint: select the right column and use the
[`value_counts`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)
method.

In [33]:
# Write your code here.

Plot histograms for the numerical features

In [36]:
# Write your code here.

Show features distribution for each class. Hint: use
[`seaborn.pairplot`](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

In [35]:
# Write your code here.

Looking at these distributions, how hard do you think it would be to classify
the penguins only using `"culmen depth"` and `"culmen length"`?